.globalbutton{
    background-color: $redcolor;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    border: 0;
    margin: auto;
    cursor: pointer;
}